*{
    margin: 0;
    padding: 0; 
}

.card{
    position: relative;
    left: 50%;
    margin-top: 250px;
    transform: translateX(-50%);
    height: 220px;
    width: 550px;
    border: 1px solid black;
}

.form-card{
    margin-top: 10px;
    margin-left: 5px;
}

.form-subtext{
    width: 97%;
}

.form-card input{
    margin-bottom: 5px;
}

.btn{
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}